* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: #e6edf3;
    padding: 40px 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

/* HEADER */

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #ffffff;
}

header p {
    color: #8b949e;
}


/* UPLOAD BOX */

.upload-box,
.files-box {
    background: #161b22;
    border: 1px solid #30363d;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
}

.upload-box h2,
.files-box h2 {
    margin-bottom: 20px;
    color: #ffffff;
}


/* FILE INPUT */

input[type="file"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;

    background: #0d1117;
    color: #c9d1d9;

    border: 1px solid #30363d;
    border-radius: 8px;
}


/* BUTTONS */

button {
    padding: 11px 20px;

    border: none;
    border-radius: 7px;

    background: #238636;
    color: white;

    cursor: pointer;

    font-size: 15px;
    font-weight: bold;

    transition: 0.2s;
}

button:hover {
    background: #2ea043;
}


/* FILE HEADER */

.files-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* FILE ITEM */

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #0d1117;

    padding: 18px;
    margin-top: 12px;

    border: 1px solid #30363d;
    border-radius: 8px;
}

.file-item:hover {
    border-color: #58a6ff;
}


/* FILE NAME */

.file-name {
    font-weight: bold;
    color: #c9d1d9;

    word-break: break-all;
}


/* ACTION BUTTONS */

.actions {
    display: flex;
    gap: 10px;
}


.download-btn {
    background: #238636;
}

.download-btn:hover {
    background: #2ea043;
}


.delete-btn {
    background: #da3633;
}

.delete-btn:hover {
    background: #f85149;
}


/* STATUS */

#status {
    margin-top: 15px;
    font-weight: bold;
    color: #58a6ff;
}


/* MOBILE */

@media (max-width: 600px) {

    body {
        padding: 20px 15px;
    }

    header h1 {
        font-size: 26px;
    }

    .file-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .files-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

}
